/*优化按钮位置*/
.window-control-area {
    top: 3px;
}

.sidebar-nav .sidebar__upper .qq-logo {
    display: none!important;
}
.sidebar-nav .sidebar__upper.sidebar__upper--with-logo .sidebar__avatar {
    margin-top: 8px;
}
/* --------header面板----------- */
.nostalgic-header-main{
    width: 100%;
    top: 26px;
    height: 150px;
    position: fixed;
    z-index: 3;
    pointer-events: none;
    display: none;
}
/*左上角QQ图标*/
.nostalgic-qq-icon {
    float: left;
    position: fixed;
    left: 0;
    padding: 0;
    top: 3px;
    display: block !important;
    left: 12px;
    app-region: no-drag!important;
    pointer-events: all;
    top: 9px;
    z-index: 2100;
    left: 1;
    opacity: .25;
}
.nostalgic-user-avatar {
    height: 52px;
    display: flex;
    margin: 8px 10px 8px 0px;
    width: 100%;
    overflow: hidden;
    opacity: 1 !important;
}

.nostalgic-user-avatar-img {
    background-size: cover;
    clip-path: inherit;
    border-radius: 50%;
    width: 52px;
    height: 52px;
}

.nostalgic-user-avatar__status {
    bottom: -1px;
    box-sizing: content-box;
    position: absolute;
    right: 3px;
    vertical-align: middle;
    background-size: cover;
}

.nostalgic-user-container {
    margin-left: 20px;
    width: 52px;
    height: 52px;
    display: flex;
    margin-right: 11px;
    flex-wrap: wrap;
    position: relative;
}

.nostalgic-user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: calc(100% - 55px);
    overflow: hidden;

}

#nostalgic-user-desc {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

#nostalgic-user-nickname {
    max-width: calc(100% - 10px);
    color: var(--header-oldTheme-text-color);

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.nostalgic-user-vip {
    margin-left: 17px;
    font-size: 9px;
    background: #ff0505;
    color: #fff;
    border-radius: 2px;
    padding: 0 3px;
    font-family: fantasy;
}

#nostalgic-user-signature {
    font-size: 12px;
    width: 100%;
    color: var(--header-oldTheme-text-color);
    padding-right: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.nostalgic-qq-icon .q-icon {
    color: var(--header-oldTheme-text-color) !important;
}

.nostalgic-menu-tab{
    height: 40px;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    position: absolute;
    pointer-events: all;
    width: 100%;
    font-size: min(var(--font_size_3),18px);
    line-height: min(var(--line_height_3),24px);
    color: var(--text_primary);
    top: 109px;
    margin-top: 0px;
    backdrop-filter: blur(115px);
    background: var(--bg_nav);
    z-index: 4;
    box-shadow: inset 1px -1px 0 0 var(--border_standard);
	transition: all .3s ease-in-out;
    &:hover{
        .item::after{
            content: '';
            display: inline-block;
            width: 100%;
            height: 0;
            border-width: 1px;
            border-style: solid;
            border-color: transparent;
            position: absolute;
            bottom: 2px;
            left: 0;
        }
    }
}

.contact-layout__content-area .contact-management-entrance{
    margin-top: 40px;
}

.nostalgic-menu-tab .item{
min-width: 70px;
    cursor: pointer;
    margin-top: 13px;
    height: 30px;
    text-align: center;
    position: relative;
    transition: all .3s ease-in-out;
}
.nostalgic-menu-tab .select::after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    border-width: 1px;
    border-style: solid;
    border-color: var(--global-brand_standard);
    position: absolute;
    bottom: 2px;
	transition: all .3s ease-in-out;
    left: 0;
}
.nostalgic-menu-tab .item:hover{
    &::after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    border-width: 1px;
    border-style: solid;
    border-color: var(--global-brand_standard);
    position: absolute;
    bottom: 2px;
    left: 0;
	transition: all .3s ease-in-out;
    }
}
.message-panel .recent-contact .recent-contact-list{
    padding-top: 40px;
}
.message-panel .recent-contact .group-assistent-list{
	  padding-top: 40px;
}
.message-panel .recent-contact .group-assistent-list .recent-contact-list{
    padding-top: 0px;
}
/**********工具栏放底部***********/

.container .sidebar .sidebar__lower{
    position: fixed!important;
    bottom: 0;
    left:0;
    width: 100%!important;
    left: 0!important;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: flex-start;
    background: var(--bg_nav)!important;
    backdrop-filter: blur(20px);

}
body .container .draggable-view__container.sidebar {
    backdrop-filter: none!important;;
}

.container .sidebar .func-menu{
    display: flex!important;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-evenly;
    justify-content: space-around;
    align-items: center;
    opacity: 0.6;
    box-shadow: rgba(var(--el-color-primary-rgb), 0.12) 0px -20px 28px -2px;
    .func-menu__item{
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .func-menu__item_wrap{
        padding:10px 0px;

    }

}
.container .sidebar .func-menu>div{
    cursor: pointer;
}
.container .sidebar .func-menu>div[id='demoModeBtn']{
        padding-top: 16px;
        margin-right: 16px;
        margin-left: 16px;
}
#app .container .sidebar .func-menu svg{
    width:20px!important;
    height:20px!important;
}
.list-toggler .viewport-list__inner{
    padding-bottom: 45px;
}


/*隐藏侧栏*/

.container .sidebar {
    position: absolute;
    left: -85px!important;
    width: 85px !important;
    transition: all .3s ease-in-out;
    overflow: visible;

    & * {
        overflow: visible !important;
    }

    z-index: 999;

    .sidebar-nav {
        width: 85px!important;
    }
    /**头像浮动出来**/
    .sidebar__avatar {
        transform: scale(calc(36 / 36)) translateX(86px) translateY(8px)!important;
        transition: all .3s ease-in-out;
        opacity: 1;
        cursor: pointer;
        .user-avatar {
            width: 52px !important;
            height: 52px !important;
            clip-path: inherit;
        }
    }

}





/*旧版消息列表**/

/*++
.message-panel .list-item{
    height: 64px;
}
.message-panel .recent-contact-item--top .list-item__container,
.message-panel .recent-contact-item--top .item__content
{
    background: none !important;
}

.message-panel .list-item.recent-contact-item--top::after,
.message-panel .recent-contact-item--top::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: solid;
    border-color: var(--global-brand_standard) transparent transparent transparent;
    transform: rotate(135deg);
    position: absolute;
    top: -4px;
    left: -4px;

}
++*/



/****其它调整***/

.container .contact-top-bar .search-input {
	background: var(--fill_standard_secondary)!important;
    .q-input__prefix .q-icon,
    .q-input__inner::placeholder {
        color: var(--header-oldTheme-text-color) !important;

    }
}
.container .contact-top-bar .search-input .q-input__clear i,
.container .contact-top-bar .search-input .q-input__inner{
    color: var(--header-oldTheme-text-color) !important;

}
.container .contact-adder-btn {
    .q-icon {
        color: var(--header-oldTheme-text-color) !important;

    }
}

.contact-top-bar {
    background-image: var(--header-oldTheme-color-linear);
    min-height: 100px;

}





.container .contact-layout .contact-top-bar,
.container .message-panel .contact-top-bar {
    height: 135px;
    padding-top: 100px;
    padding-left: 18px !important;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;


}
.contact-layout .contact  .contact-top-bar .main-search{
    width:  calc(100% - 20px) !important;
    top: 102px;
    margin-left: -10px !important;

}
.message-panel .recent-contact  .contact-top-bar .main-search {
    width:  calc(100% - 20px) !important;
    top: 102px;
    margin-left: -10px !important;

}

.message-panel .recent-contact  .contact-top-bar .main-search .search-result {
	height:calc(100vh - 180px);
    top: 135px!important;
}

.contact-layout .contact  .contact-top-bar .main-search .search-result{
	height:calc(100vh - 180px);
    top: 135px!important;
}


.message-panel .recent-contact  .contact-top-bar .contact-adder-btn {
    position: absolute!important;
    top: 100px!important;
    right: 7px!important;
}
.contact-layout .contact  .contact-top-bar .contact-adder-btn{
    position: absolute!important;
    top: 100px!important;
    right: 7px!important;
}

.sidebar-nav .nav-item[aria-label="消息"] ,
.sidebar-nav .nav-item[aria-label="联系人"]  {
    display: none !important;
}



#nostalgic-leftTools {
    transition: all .3s ease-in-out;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    /* color: var(--header-oldTheme-background-color-light); */
}


.sidebar__nav {
    transition: all .3s ease-in-out;
    position: fixed !important;
    bottom: 49px;
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    backdrop-filter: blur(20px);
    width: 100%;
    height: 100%;
    left: 0px;
    top: 100vh;
    background: var(--bg_nav);
    padding-bottom: 58px;

}

.sidebar__nav .nav-item {
    padding: 40px 25px 10px 35px;
    width: 48px;
    height: 48px;

}

.sidebar__nav .nav-item .tab-item-mask {
    width: 48px;
    height: 48px;
}

.nav .nav-item-more {
    margin-bottom: 8px !important;
}

.sidebar-context-menu {
    left: 0px !important;
    width: 100%;
}
.sidebar__nav_show{
    top: calc(100vh - 240px)!important;
  }
/* .q-context-menu.q-context-menu__mixed-type .q-context-menu-item:last-child{
        display: none;
    } */
.version-tip-button {
    display: none;
}

/**旧版本QQ处理**/
/* .two-col-layout .search-result {

    top: 140px!important;
    height: calc(100vh - 180px)!important;
}
.contact .search-result {

    top:100px!important;;
    height: calc(100vh - 100px)!important;
}
.contact .contact-layout__content-area{
    height: calc(100vh - 100px)!important;
} */

/**macOS***/

body[q-platform="darwin"] .nostalgic-qq-icon{

    left: 62px!important;
    top: 5px;
}
body[q-platform="darwin"] .nostalgic-user-avatar{
    margin-top: 15px!important;
}
body[q-platform="darwin"] .sidebar__upper {
    padding-top: 30px!important;
}

/**20241022*/
div.q-tooltips-v2:has(.mail-item__tips) {
    transform: translateY(-40px);
}

/*白色折叠按钮**/

/*99
.window-control-area .narrow-toggler>img {
    filter: invert(1);
    opacity: 0.5;
}
99*/