/****大面板***/
.nostalgic-qq-icon {
    display: none!important;
}
.nostalgic-user-avatar {
    display: none!important;
}
#nostalgic-leftTools{
    display: none!important;
}
.nostalgic-menu-tab{
    display: none;
}
.nostalgic-header-main{
    display: none;
}
