/*优化按钮位置*/
.window-control-area {
    top: 3px;
}

/*左上角QQ图标*/
.nostalgic-qq-icon {
    float: left;
    position: absolute;
    left: 0;
    padding: 0;
    top: 3px;
    pointer-events: none;
    left: 12px;
    position: absolute;
    top: 9px;
    z-index: 2100;
    left: 1;
    opacity: .25;
}

/* --------header----------- */

.nostalgic-user-avatar {
    height: 52px;
    display: flex;
    margin: 8px 10px 8px 0px;
    width: 100%;
    overflow: hidden;
    opacity: 1 !important;
}
.nostalgic-user-avatar-img{
    background-size: cover;
    clip-path: inherit;
    border-radius: 50%;
    width: 52px;
    height: 52px;
}
.nostalgic-user-avatar__status{
    bottom: -1px;
    box-sizing: content-box;
    position: absolute;
    right: 3px;
    vertical-align: middle;
    background-size: cover;
}
.nostalgic-user-container {
    width: 52px;
    height: 52px;
    display: flex;
    margin-right: 11px;
    flex-wrap: wrap;
    position: relative;
}

.nostalgic-user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: calc(100% - 55px);
    overflow: hidden;
   /* width: 164px;*/
}

#nostalgic-user-desc {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    width: 100% ;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
#nostalgic-user-nickname{
    max-width: calc(100% - 10px);

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.nostalgic-user-vip {
    margin-left: 17px;
    font-size: 9px;
    background: #ff0505;
    color: #fff;
    border-radius: 2px;
    padding: 0 3px;
    font-family: fantasy;
}

#nostalgic-user-signature {
    font-size: 12px;
    width: 100% ;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/**********工具栏放底部***********/
/**--
.container .sidebar .sidebar__lower{
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: flex-start;
    background: var(--bg_nav);
}

.container .sidebar .func-menu{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-evenly;
    justify-content: space-around;
    align-items: center;
     opacity: 0.6;
    .func-menu__item{
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .func-menu__item_wrap{
        padding: 10px;
    }

}
.container .sidebar .func-menu>div[id='demoModeBtn']{
        padding-top: 16px;
        margin-right: 16px;
        margin-left: 16px;
}
.list-toggler .viewport-list__inner{
    padding-bottom: 45px;
}
--**/

/*隐藏式侧栏*/
.tab-container {
    transition: margin-left .3s;
}

.sidebar:hover~.tab-container {
    transition: margin-left .3s ease-in-out;
    margin-left: 85px;
}

.container .sidebar {
    position: absolute;
    left: -85px;
    width: 85px !important;
    transition: all .3s ease-in-out;
    overflow: visible;

    & * {
        overflow: visible !important;
    }

    z-index: 999;

    .sidebar-nav {
        width: 85px;
    }
    .sidebar__avatar {
        transform: scale(calc(36 / 36)) translateX(86px) translateY(8px);
        transition: all .3s ease-in-out;
        opacity: 1;
        cursor: pointer;
        .user-avatar {
            width: 52px !important;
            height: 52px !important;
            clip-path: inherit;
        }
    }

    &:hover {
        left: 0;

        .sidebar__avatar {
            transform: scale(calc(36 / 36));

            opacity: 1;

        }
    }


}




@media (prefers-color-scheme: light) {
    .message-panel .contact-top-bar{
        background-color: var( --header-oldTheme-color);
        color: var(--header-oldTheme-background-color-light);
    }
    /* .window-control-area{
        background-color: var( --header-oldTheme-color);
    }
    .window-control-area .q-icon{
        color: var(--header-oldTheme-background-color-light)!important;

    }
     */
     .nostalgic-qq-icon .q-icon {
         color: var(--header-oldTheme-background-color-light)!important;
     }
    .container .message-panel .contact-top-bar .search-input {
        .q-input__prefix .q-icon,
        .q-input__inner::placeholder {
            color: var(--header-oldTheme-background-color-light)!important;
        }
    }
    .message-panel .recent-contact .contact-adder-btn{
        .q-icon{
            color: var(--header-oldTheme-background-color-light)!important;
        }
    }
}
@media (prefers-color-scheme: dark) {
    .message-panel .contact-top-bar{
        background-color: var( --header-oldTheme-color);
        color: var(--header-oldTheme-background-color-dark);
    }
    /* .window-control-area{
        background-color: var( --header-oldTheme-color);
    }
    .window-control-area .q-icon{
        color: var(--header-oldTheme-background-color-dark)!important;

    }
    */
    .nostalgic-qq-icon .q-icon {
         color: var(--header-oldTheme-background-color-dark)!important;
     }
    .container .message-panel .contact-top-bar .search-input {
        .q-input__prefix .q-icon,
        .q-input__inner::placeholder {
            color: var(--header-oldTheme-background-color-dark)!important;
        }
    }
    .message-panel .recent-contact .contact-adder-btn{
        .q-icon{
            color: var(--header-oldTheme-background-color-dark)!important;
        }
    }
}


.container .message-panel .contact-top-bar {
    padding-left: 18px !important;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;


}
.message-panel .recent-contact .search-result{
    top: 140px;
}
.message-panel .recent-contact .contact-adder-btn{
    position: absolute;
    top: 104px;
    right: 7px;
}
.message-panel .recent-contact .main-search{
    width: 95%!important;;
    margin-left: -10px!important;
}

.contact-layout .contact-top-bar{
    padding-top: 50px !important;
    padding-bottom: 16px !important;
}
.contact-layout .contact-top-bar .main-search{
    margin-left: 66px !important;
}
.contact-layout .contact-top-bar .search-result{
    top: 100px!important;
}